*{
    font-family: "Epilogue", "sans-serif";
    
    
    
   
}
.main-container{
    background-image: url("Images/fondo2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    
}

.header{
    
    padding-bottom: 30px;
    text-align: center;
}
.icon{
    margin: 50px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3)

}

.main-title{
    
    color: white;
    margin: 40px;
}

.second-title{
    color: white;
    font-size: 1em;
}
.description{
    color: white;
    font-size: .8em;
    margin: 20px;
}

.main-socialmedia{

    margin-top: 70px;
    margin-bottom: 40px;
}
.main-socialmedia__item{
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
}

.button-contact__text{
    font-size: .75em;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: red;
    width: 90px;
    height: 25px;
    border: none;
    text-align: center;
    border-radius: 18px;
    padding-top: 12px;
    margin-top: 30px;
    
   
}

.button-contact__text:hover{
    font-size: .75em;
    font-weight: normal;
    text-decoration: none;
    color: red;
    display: inline-block;
    background-color: white;
    color: red;
    width: 90px;
    height: 25px;
    border: none;
    text-align: center;
    border-radius: 18px 18px 18px 18px;
    margin-top: 30px;
   
}
.main-menu{
    
    
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    
}
.menu-list{
    background-color: white;
    border-radius: 20px;
    border: 1px solid teal;
    margin-bottom: 15px;
    margin-right: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 5px 20px 0px rgb(39, 77, 105);
}
.main-menu li{
    list-style: none;
    display: inline-block;
    text-align: center;
}
.main-menu a{
    margin-right: 70px;
    font-size: 1em;
    display: block;
    padding-top: 5px;
    text-decoration: none;
    color: teal;
    width: 90px;
    height: 20px;
}

.main-menu a:hover{
   
    background-color: rgb(0, 128, 128, .8);
    border-radius: 11px;
    color: whitesmoke;
    
    
    
}

.contenido{
    background: white;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1080px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 20px 0px rgb(39, 77, 105);
 
    
}

.about-me__title, .Services__title, .contact-title{
    color: teal;
    font-size: 2em;
    text-align: left;
    padding-left: 20px;
    display: block;
    padding-top: 70px;
    margin-bottom: 40px;

}
   
.about-me__block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.icon2{
    
    width: 15%;
    padding-bottom: 10px;
    min-width: 120px;
    
    
}

.about-me__description{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    box-shadow: 0px 5px 20px 0px rgb(184, 212, 196);
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.about-me__description_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex: 1 1 320px;
}

.about-me__paragraph{
    color: gray;
    font-size: 1em;
    width: 100%;
    
    font-weight: lighter;
    line-height: 1.5;
}


.button-cv__text{
    font-size: .7em;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: red;
    width: 100px;
   
    border: none;
    text-align: center;
    border-radius: 18px 18px 18px 18px;
    padding: 14px;
    margin-top: 20px;
}


.about-me__description_right{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
    width: 40%;
    flex: 1 1 320px;
}   

.about-me__html{
    color: teal;
    margin-bottom: 10px;
    font-size: 1em;
}
.progress-html{
    background-color: rgb(226, 220, 220);
    width: 100%;
    height: 5px;
    border-radius: 4px;
    margin-bottom: 20px;

}

.progress-html2{
    background-color: rgb(137, 69, 177);
    width: 80%;
    height: 5px;
    border-radius: 4px;

}

.about-me__css{
    color: teal;
    margin-bottom: 10px;
    font-size: 1em;
}
.progress-css{
    background-color: rgb(226, 220, 220);
    width: 100%;
    height: 5px;
    border-radius: 4px;
    margin-bottom: 20px;

}

.progress-css2{
    background-color: rgb(238, 117, 3);
    width: 70%;
    height: 5px;
    border-radius: 4px;

}
.services{
    margin-bottom: 100px;
}
.Services__block{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 40px;
    flex-wrap: wrap;
    

}

.Services__block_left, .Services__block_rigth, .Services__block_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 70px 20px;
    margin: 10px;
    border-radius: 20px;
    min-width: 200px;
}

.Services__block_left{
    background-color: rgb(56, 111, 173);
    box-shadow: 0px 5px 20px 0px rgb(56, 111, 173);

}

.Services__block_center{
    background-color: rgb(172, 27, 58);
    box-shadow: 0px 5px 20px 0px rgb(56, 111, 173);

}

.Services__block_rigth{
        background-color: rgb(241, 172, 22);
        box-shadow: 0px 5px 20px 0px rgb(241, 172, 22);
    
}

.img1, .img2{
    width: 70%;
}

.Services_block_title1{
    color: white;
    text-align: center;
}

.Services_block_description{
    color: white;
    text-align: center;
    font-size: .8em;
}


.contact-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
}

.contact input{
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 35px 0px rgb(216, 215, 213);
    padding: 20px;
    margin: 8px;
    

}

.contact input:focus{
    outline: none;
    
}

textarea{
    resize: none;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 35px 0px rgb(216, 215, 213);
    padding: 10px;
    margin: 8px;
    height: 180px;
    width: 280px ;
}

textarea:focus{
    outline: none;
}

.boton_enviar{
    font-size: 100%;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 90px;
    border: none;
    text-align: center;
    border-radius: 18px;
    padding: 10px;
    margin: 8px;
    
  
   

}

.boton_enviar:focus{
    outline: none;
}
